h1 {
    color: yellow;
}

.container {
    margin: 0 auto;
    background-color: blue;
    border-radius: 15px;
    max-width: 1200px;
    text-align: center;
}
img {
    width: 1000px;
    display: block;
    margin: auto;
}
.footer {
    margin: 0 auto;
    background-color: blue;
    border-radius: 15px;
    max-width: 1200px;
    text-align: center;
}
p {
    color: yellow;
}
.content {
    position: relative;
    width: 1000px;
    margin: auto;
}
.point {
    position: absolute;
    width: 20px;
    background-color: brown;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: white;
    padding: 20px;
    min-width: 300px;
    text-align: center;
    max-width: 60%;
}
.close {
    cursor: pointer;
    float: right;
    font-size: 28px;
}
#submit-answer {
    margin-top:10px;
}

#feedback {
    margin-top:10px;
    font-weight: bold;
}

#choices {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.drag-container {
    display: flex;
    gap: 30px;
}

.questions, .answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dropzone {
    border: 2px dashed #555;
    padding: 10px;
    min-height: 40px;
    background: #f9f9f9;
}

.draggable {
    padding: 10px;
    background: #cce5ff;
    cursor: grab;
}

/* === TEXT V POPUP === */
.popup-content,
.popup-content h2,
.popup-content p,
#question-text,
#choices {
    color: #000000;
}
.popup-text {
  display: none;        /* hidden by default */
  max-width: 50%;        /* limits line length */
  width: 50%;              /* relative to container */
  white-space: normal;     /* allow wrapping */
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.4;
  margin: 0 auto 8px;
  padding: 4px;
  text-align: justify;
}